body{
  background-color:#ffa5a5;
}
marquee{
  font-size:100px;
  font-family: 'Commissioner', sans-serif;
}
img{
  margin:50 500px;
  height:400px;
  width:400px;
  border: 20px groove #d7385e
}
.carousel slide{
  margin:250px;
}
.carousel images{
  height:400px;
  width:400px;
}
